<%- include('../partials/header') %>


<br><br>
<a href="/recipes/<%= recipe.id %>/edit"  class="btn btn-primary">Edit Recipe</a>

<section id="show-page">

<h1><%= recipe.name %></h1>

<img src="https://images.unsplash.com/photo-1505252585461-04db1eb84625?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c21vb3RoaWV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">

<br><br>
<li><%=recipe.ingredients%></li><br><br>
<p><%=recipe.procedure%></p><br><br>


</section>



<h5>Leave a Comment:</h5>
<form id="add-comment-form" method="POST"
action="/recipes/<%=recipe._id%>/comments">
<label class="comment"></label>
<input type="text" name="review">

<input type="submit" class="btn" value="Add Comment">
</form>

<% if (recipe.comments.length) { %>
    <% recipe.comments.forEach(function(c) { %>
        <h5><%= c.createdAt.toLocaleDateString() %></h5>
        <h5><%= c.comments %></h5>
        
        <% }); %>
        <% } else { %>
            <h5>No Comments Yet</h5>
          <% } %>





<%- include('../partials/footer') %>
