<%- include('../partials/header') %>

<section id="show-page">

<div><%= recipe.name %></div>
<div><%=recipe.ingredients%></div>
<div><%=recipe.procedure%></div>


<a href="/recipes/<%= recipe.id %>/edit">Edit Recipe</a>

    


</section>



<h2>Comments</h2>
<form id="add-comment-form" method="POST"
action="/recipes/<%=recipe._id%>/comments">
<label>comment:</label>
<input type="text" name="review">
<input type="submit" value="Add Comment">
</form>

<% if (recipe.comments.length) { %>
    <% recipe.comments.forEach(function(c) { %>
        <h5><%= c.createdAt.toLocaleDateString() %></h5>
        <h5><%= c.comments %></h5>
        
        <% }); %>
        <% } else { %>
            <h5>No Comments Yet</h5>
          <% } %>





<%- include('../partials/footer') %>
